:root {
    --colNum: ;
    --rowNum: ; 
}

#container {
   
    display: grid;
  grid-template-columns: repeat(var(--colNum), auto); /* these two need to be auto? */ 
    grid-template-rows: repeat(var(--rowNum), auto); 
    min-width: 700px;
    max-width: 700px;
    min-height: 400px;
    max-height: 400px;
    margin: auto;
    
}

#resetButton {
    margin-bottom: 20px;
    margin-left: 550px;
    padding: 2%;
    font-style: italic;
   
}

.cell {
size: auto;
background: rgb(0, 0, 0);
}



































