:root {
    --colNum: ;
    --rowNum: ; 
}

#container {
    width: 690px;
    max-width: 690px;
    min-width: 690px;
    height: 690px;
    max-height: 690px;
    min-height: 690px;
    display: grid;
  grid-template-columns: repeat(var(--colNum), auto);
    grid-template-rows: repeat(var(--rowNum), auto); 
    border: 1px  black;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 400px;
    margin-right: auto;
}

#resetButton {
    margin-bottom: 20px;
    margin-left: 550px;
    padding: 2%;
    font-style: italic;
   
}



.cell {
    width: auto;
height: auto;
background: rgb(0, 0, 0);
border: 1px solid white;
}



































