:root {
    --colNum: ;
    --rowNum: ; 
}

#container {
   
    display: grid;
  grid-template-columns: repeat(var(--colNum), 30px);
    grid-template-rows: repeat(var(--rowNum), 30px); 
    border: 1px  black;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 400px;
    margin-right: auto;
}

#resetButton {
    margin-bottom: 20px;
    margin-left: 550px;
    padding: 2%;
    font-style: italic;
   
}



.cell {
    width: 30px;
height: 30px;
background: rgb(0, 0, 0);
border: 1px solid white;
}



































